.footer {
    padding: 80px 32px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.footer__right {
    display: flex;
}

.footer__social:first-child {
    margin-right: 80px;
}

.footer__social {
    display: flex;
    align-items: center;
}

.topline__search-icon_footer {
    margin-right: 12px;
}

.footer__title {
    margin: 0 0 4px 0;
    font-size: 16px;
    color: #d8d6d8;
}

.footer__subtitle {
    margin: 0;
    font-size: 20px;
    color: #fff;
}

@media screen and (max-width: 430px) {
    .footer {
        flex-direction: column;
        padding: 40px 20px;
    }

    .footer__social:first-child {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .footer__right {
        flex-direction: column;
    }
}